<div class="row">
  <form class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img *ngIf="contact.image" [src]="contact.image">
        <span class="card-title">{{contact.name}}</span>
      </div>
      <div class="card-content grey-text text-darken-4">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i><input [(ngModel)]="contact.name" name="name" id="name" type="text" class="validate">
            <label class="active" for="name">name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i><input id="email" [(ngModel)]="contact.email" name="email" type="text" class="validate">
            <label class="active" for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i><input id="phone" [(ngModel)]="contact.phone" name="phone" type="text" class="validate">
            <label class="active" for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">cake</i><input id="birthday" [(ngModel)]="contact.birthday" name="birthday" type="date" class="validate">
            <label class="active" for="birthday">Birthday</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">public</i><input id="website" [(ngModel)]="contact.website" name="website" type="text" class="validate">
            <label class="active" for="website">Website</label>
          </div>
        </div>
        <fieldset>
          <legend><i class="material-icons prefix">location_city</i> Address</legend>

          <div class="row">
            <div class="input-field col s12">
              <input id="street" type="text" [(ngModel)]="contact.address.street" name="street" class="validate">
              <label class="active" for="street">Street</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="zip" type="text" [(ngModel)]="contact.address.zip" name="zip" class="validate">
              <label class="active" for="zip">Zipcode</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="city" type="text" [(ngModel)]="contact.address.city" name="city" class="validate">
              <label class="active" for="city">City</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="country" type="text" [(ngModel)]="contact.address.country" name="country" class="validate">
              <label class="active" for="country">Country</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-action">
        <button type="button" class="btn" (click)="cancel(contact)">Cancel</button>
        <button type="button" class="btn" (click)="save(contact)">Save</button>
      </div>
    </div>
  </form>
</div>
